<h1>Edit Post</h1>

 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for wikis</p>
     <ul>
       <li>Appropriate content only</li>
     </ul>
   </div>
   <%= render partial: 'form', locals: { wiki: @wiki } %>
</div>
