// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
  font-size: 24px;
  background-color: #cab89b;
  color: #3f3627;
  text-align: center;
  font-family: monospace;
}

.payment {
  color: #8B8378;
  padding: 5px 5px 5px 5px;
  font-size: 15px;
  background-color: #EED5B7;
}

.wikis {
  color: black;
  background-color: #e3cbb0;
  font-size: 14px;
  background-color: #c9a973;
}

.heading {
  background-color: #e9ddce;
  color: #493f31;
}

.downgrade {
  background-color: #c5a37d;
}

.copyright {
  background-color: #f1dbbc;
  text-align: right;
  font-size: 11px;
  font: courier;
  color: #636363;
}
