// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.abouthead {
  color: #e2fcff;
  background: #195f77;
}

#index-title {
  text-align: left;
  font-style: italic;
  font-size: 25px;
  color: 	#195f77;
}


section {
  background: #9e1b28;
  border-style: solid;
  border-width: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
