// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showtitle {
  background-color: #8a8a8a;
  font-size: 20px;
  text-align: left;
}

.tablehead {
  font-size: 16px;
  color: #8a8a8a;
  font-style: oblique;
}

.tablehead2 {
  font-size: 16px;
  color: #8a8a8a;
  font-style: oblique;
}

.container {
  font-style: normal;
}

.col-md-8 {
  align-items: center;
  align-content: center;
}
